extends ../layouts/layout.pug
block content
	.container
		

		h1 hello wecome to create name 
		if errors
			each error in errors
				.alert.alert-danger= error
		form(action="/student/newCreate", method="POST")
			.form-group
			label(for="name") name
			input#name.form-control(type="text",name="name",value = value ? vulue.name : '')
			.form-group
			label(for="phone") phone
			input#phone.form-control(type="text",name="phone", value = value ? value.phone : '')
			.form-group
			label(for="class") class
			input#class.form-control(type="text",name="class", value = value ? value.class : '')
			.form-group
			button.btn.btn-primary click
