extends ../layouts/layout.pug
block content
	.container
		h1 stundent 

		form.form-inline(action="/student/seach", method="GET")
			input.form-control.mr-sm-2.my-20(type='search', placeholder='Search', aria-label='Search',width="200px")
			button.btn.btn-outline-success.my-2(type='submit') Search

		a.btn-btn-primary(href="/student/create") newCreate	
		
		table.table
			tr
				th name
				th phone
				th class
				th avata
				th views
			each student in students
				tr
					td= student.name
					td= student.phone
					td= student.class
					td 
						img(src=student.file,width='200px')
					td
						a(href='/student/' + student.id) view
		
		
