extends ../layouts/layout.pug
block content
	h1 stundent 

	form(action="/student/seach", method="GET")
		input(type="text", name="q")
		button an
	a(href="/student/create") newCreate	
	ul
		each student in students
			li 	
				span= student.name
				span &nbsp
				a(href='/student/' + student.id) view